{% load static %}
<html lang="en-US">
  <head>
    <title> Kay's World | Login Authentication</title>
    <meta name="description" content="A demonstration of login authentication.">
    <link href="{% static 'login/style.css' %}" type="text/css" rel="stylesheet">
  </head>

  <!-- BODY CONTENT -->
  <body>
    <div class="container">

      <!-- HEADER -->
      <header>
        <a href="{% url 'login:index' %}"><h1>Kay's World</h1></a>
        <div class="rightside">
          <a id="loginLink" class="head" href="{% url 'login:login' %}">Login</a>
          <a id="signupLink" class="head" href="{% url 'login:signup' %}">Sign Up</a>
      </div>
      </header>

      <div class="section">
        <img src="{% static 'login/images/lakhtaCenter.jpg' %}">
        <h3 class="home">Welcome to Kay's World! <br> Login or Sign up to enter the site.</h3>
      </div>


      <!-- FOOTER -->
      <footer> Created by: Kayla D. Coleman </footer>

    </div>

  </body>
</html>
